.root {
  width: 1280px;
  background-color: var(--primary);
  padding: 20px;
}

.header {
  font-weight: 600;
}

.main {
  display: flex;
  margin-bottom: 20px;
}

.main > * + * {
  margin-left: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  margin-top: 10px;
}

.overview {
  margin-top: 20px;

  margin-bottom: auto;
}

.overviewTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.mainPoster {
  width: 340px;
  height: 500px;
  flex-shrink: 0;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainText {
  font-size: 18px;
  line-height: 1.4em;
}

.episodDescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.block + .block {
  margin-top: 20px;
}